.form-container {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 500px;
    padding: 16px;
    margin: 10px auto;
    background: #f7f7f7 ;
}

.form-container{
    background: #43d1af;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #f7f7f7;
    margin: -16px;

}
.form-container input[type = "text"],
.form-container input[type = "email"],
.form-container textarea{
    transition: all 0,30% ease-in-out;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    background: #f7f7f7;
    margin-bottom: 4%;
    border: 1px solid #cccccc;
    padding: 3%;
    color: #555555;
    font: 95% Arial, Helvetica, sans-serif; 
}

.form-container .btn-send{
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #053e88;
    border-bottom: 2px solid #0501c0;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #f7f7f7;
}

.form-container .btn-send:hover{
    background: #02426d;
}